body {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    color: white;
}


.main {
    height: 80vh;
    width: 300px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #1B8366;
    border-radius: 5px;
    overflow-y: auto;
}

.Documentation{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 8px;
}

h3 {
    margin: 0px;
    padding: 8px;
    color: #ffdd00;
    font-weight: bolder;
    font-size: 20px;
}

.Documentation i {
    font-size: x-large;
    border: 1px solid #aaa4a4;
    padding: 7px;
    background-color: #aaa4a4;
    border-radius: 50%;
    margin-top: 3px;
    color: #ffdd00;
}

#Title {
    display: inline-block;
}

.details {
    display: flex;
    flex-direction: column;
    font-size: large;
    padding: 0 5px;
}

.details>span {
    border-bottom: 1px solid black;
    padding: 5px;
}

p {
    display: inline-block;
    margin: 0;
}

/* Phone view */
@media (min-width:300px) and (max-width:500px) {
    .main {
        width: 100vw;
        height: 100vh;
        border: 1px solid rgb(0, 0, 0);
    }

    .details{
        height: 480px;
        overflow-y: scroll;
    }
}